<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>+10.png</key>
		<dict>
			<key>frame</key>
			<string>{{290, 1}, {122, 64}}</string>
			<key>offset</key>
			<string>{-1.5, -2}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {122, 64}}</string>
			<key>sourceSize</key>
			<string>{125, 74}</string>
		</dict>
		<key>+20.png</key>
		<dict>
			<key>frame</key>
			<string>{{167, 1}, {122, 64}}</string>
			<key>offset</key>
			<string>{-1.5, -2}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {122, 64}}</string>
			<key>sourceSize</key>
			<string>{125, 74}</string>
		</dict>
		<key>+5.png</key>
		<dict>
			<key>frame</key>
			<string>{{84, 1}, {82, 63}}</string>
			<key>offset</key>
			<string>{-3, -2.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {82, 63}}</string>
			<key>sourceSize</key>
			<string>{88, 74}</string>
		</dict>
		<key>-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {82, 63}}</string>
			<key>offset</key>
			<string>{-1.5, -2.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 8}, {82, 63}}</string>
			<key>sourceSize</key>
			<string>{85, 74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 128}</string>
	</dict>
</dict>
</plist>
