<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>npc_a_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{263, 1}, {261, 100}}</string>
			<key>offset</key>
			<string>{6.5, -0}</string>
			<key>sourceColorRect</key>
			<string>{{13, 0}, {261, 100}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{276, 198}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{276, 102}, {274, 84}}</string>
			<key>offset</key>
			<string>{0, 2}</string>
			<key>sourceColorRect</key>
			<string>{{0, 6}, {274, 84}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 102}, {274, 95}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {274, 95}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{525, 1}, {274, 90}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 5}, {274, 90}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 198}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 282}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{551, 198}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{276, 282}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {261, 83}}</string>
			<key>offset</key>
			<string>{6.5, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{13, 7}, {261, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{551, 102}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
		<key>npc_a_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{551, 282}, {274, 83}}</string>
			<key>offset</key>
			<string>{0, 1.5}</string>
			<key>sourceColorRect</key>
			<string>{{0, 7}, {274, 83}}</string>
			<key>sourceSize</key>
			<string>{274, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
