<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tc_ani_tiger_sx2_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 1}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 1}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{601, 1}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 1}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 194}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 194}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 194}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{601, 194}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 194}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 387}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 387}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 387}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{601, 387}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 387}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 580}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_017.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 580}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_018.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 580}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_019.png</key>
		<dict>
			<key>frame</key>
			<string>{{601, 580}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_020.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 580}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 773}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_022.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 773}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_023.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 773}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_024.png</key>
		<dict>
			<key>frame</key>
			<string>{{601, 773}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
		<key>tc_ani_tiger_sx2_025.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 773}, {199, 192}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {197, 189}}</string>
			<key>sourceSize</key>
			<string>{199, 192}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
