<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tc_ani_tiger_sx5_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{200, 1}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{399, 1}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{598, 1}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{797, 1}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 191}, {200, 189}}</string>
			<key>offset</key>
			<string>{-2.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {200, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 191}, {200, 189}}</string>
			<key>offset</key>
			<string>{-2.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {200, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{403, 191}, {200, 189}}</string>
			<key>offset</key>
			<string>{-2.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {200, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{604, 191}, {200, 189}}</string>
			<key>offset</key>
			<string>{-2.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {200, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{805, 191}, {200, 189}}</string>
			<key>offset</key>
			<string>{-2.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {200, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 381}, {200, 189}}</string>
			<key>offset</key>
			<string>{-2.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {200, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 381}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 381}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{600, 381}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{799, 381}, {200, 188}}</string>
			<key>offset</key>
			<string>{-7.5, 1}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 188}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_016.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 571}, {200, 188}}</string>
			<key>offset</key>
			<string>{-7.5, 1}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 188}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_017.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 571}, {200, 188}}</string>
			<key>offset</key>
			<string>{-7.5, 1}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 188}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_018.png</key>
		<dict>
			<key>frame</key>
			<string>{{403, 571}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_019.png</key>
		<dict>
			<key>frame</key>
			<string>{{602, 571}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_020.png</key>
		<dict>
			<key>frame</key>
			<string>{{801, 571}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 761}, {200, 188}}</string>
			<key>offset</key>
			<string>{-7.5, 1}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 188}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_022.png</key>
		<dict>
			<key>frame</key>
			<string>{{202, 761}, {200, 188}}</string>
			<key>offset</key>
			<string>{-7.5, 1}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 188}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_023.png</key>
		<dict>
			<key>frame</key>
			<string>{{403, 761}, {200, 188}}</string>
			<key>offset</key>
			<string>{-7.5, 1}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {200, 188}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_024.png</key>
		<dict>
			<key>frame</key>
			<string>{{604, 761}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
		<key>tc_ani_tiger_sx5_025.png</key>
		<dict>
			<key>frame</key>
			<string>{{803, 761}, {198, 189}}</string>
			<key>offset</key>
			<string>{7.5, 0.5}</string>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {198, 189}}</string>
			<key>sourceSize</key>
			<string>{215, 190}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>
